body {
    font-family: Arial, sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}

header {
    background-color: #88b5a2;
    color: rgb(32, 77, 69);
    padding: 5px;
    text-align: center;
}

main {
    padding: 60px;
    max-width: 800px;
    margin: 0 auto;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(109, 195, 168);
}

h1, h2 {
    color: #2f7361;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    text-align: center;
    margin-top: 80px;
    font-size: 0.9em;
    color: #c1e9d8;
}
